
trigger:
 - master

variables:
  pool: Default


stages:
  - stage: build
    jobs:
      - job: buildCompose
        displayName: 'Build Compose'
        pool: $(pool)
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              command: 'build'